In [1]:
# Import the libraries
import numpy as np
import pandas as pd
import math
import copy

### Load the Given Dataset

In [2]:
# loading the iris data
winedata = pd.read_csv("wine.data", header=None)
winedata

     0      1     2     3     4    5   ...    8     9      10    11    12    13
0     1  14.23  1.71  2.43  15.6  127  ...  0.28  2.29   5.64  1.04  3.92  1065
1     1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28   4.38  1.05  3.40  1050
2     1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81   5.68  1.03  3.17  1185
3     1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18   7.80  0.86  3.45  1480
4     1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82   4.32  1.04  2.93   735
..   ..    ...   ...   ...   ...  ...  ...   ...   ...    ...   ...   ...   ...
173   3  13.71  5.65  2.45  20.5   95  ...  0.52  1.06   7.70  0.64  1.74   740
174   3  13.40  3.91  2.48  23.0  102  ...  0.43  1.41   7.30  0.70  1.56   750
175   3  13.27  4.28  2.26  20.0  120  ...  0.43  1.35  10.20  0.59  1.56   835
176   3  13.17  2.59  2.37  20.0  120  ...  0.53  1.46   9.30  0.60  1.62   840
177   3  14.13  4.10  2.74  24.5   96  ...  0.56  1.35   9.20  0.61  1.60   560

[178 rows x 14 columns]

### Select 3 Attributes from the dataframe

In [3]:
# Fetch the attributes from the dataframe
first_attr = winedata[1]
first = np.array(first_attr)
second_attr = winedata[2]
second = np.array(second_attr)
third_attr = winedata[3]
third = np.array(third_attr)

print("First Attribute Array")
print(first)
print("Second Attribute Array")
print(second)
print("Third Attribute Array")
print(third)

First Attribute Array
[14.23 13.2  13.16 14.37 13.24 14.2  14.39 14.06 14.83 13.86 14.1  14.12
 13.75 14.75 14.38 13.63 14.3  13.83 14.19 13.64 14.06 12.93 13.71 12.85
 13.5  13.05 13.39 13.3  13.87 14.02 13.73 13.58 13.68 13.76 13.51 13.48
 13.28 13.05 13.07 14.22 13.56 13.41 13.88 13.24 13.05 14.21 14.38 13.9
 14.1  13.94 13.05 13.83 13.82 13.77 13.74 13.56 14.22 13.29 13.72 12.37
 12.33 12.64 13.67 12.37 12.17 12.37 13.11 12.37 13.34 12.21 12.29 13.86
 13.49 12.99 11.96 11.66 13.03 11.84 12.33 12.7  12.   12.72 12.08 13.05
 11.84 12.67 12.16 11.65 11.64 12.08 12.08 12.   12.69 12.29 11.62 12.47
 11.81 12.29 12.37 12.29 12.08 12.6  12.34 11.82 12.51 12.42 12.25 12.72
 12.22 11.61 11.46 12.52 11.76 11.41 12.08 11.03 11.82 12.42 12.77 12.
 11.45 11.56 12.42 13.05 11.87 12.07 12.43 11.79 12.37 12.04 12.86 12.88
 12.81 12.7  12.51 12.6  12.25 12.53 13.49 12.84 12.93 13.36 13.52 13.62
 12.25 13.16 13.88 12.87 13.32 13.08 13.5  12.79 13.11 13.23 12.58 13.17
 13.84 12.45 14.34 13.48 12.36 13.69 12.85 12.96 13.78 13.73 13.45 12.82
 13.58 13.4  12.2  12.77 14.16 13.71 13.4  13.27 13.17 14.13]
Second Attribute Array
[1.71 1.78 2.36 1.95 2.59 1.76 1.87 2.15 1.64 1.35 2.16 1.48 1.73 1.73
 1.87 1.81 1.92 1.57 1.59 3.1  1.63 3.8  1.86 1.6  1.81 2.05 1.77 1.72
 1.9  1.68 1.5  1.66 1.83 1.53 1.8  1.81 1.64 1.65 1.5  3.99 1.71 3.84
 1.89 3.98 1.77 4.04 3.59 1.68 2.02 1.73 1.73 1.65 1.75 1.9  1.67 1.73
 1.7  1.97 1.43 0.94 1.1  1.36 1.25 1.13 1.45 1.21 1.01 1.17 0.94 1.19
 1.61 1.51 1.66 1.67 1.09 1.88 0.9  2.89 0.99 3.87 0.92 1.81 1.13 3.86
 0.89 0.98 1.61 1.67 2.06 1.33 1.83 1.51 1.53 2.83 1.99 1.52 2.12 1.41
 1.07 3.17 2.08 1.34 2.45 1.72 1.73 2.55 1.73 1.75 1.29 1.35 3.74 2.43
 2.68 0.74 1.39 1.51 1.47 1.61 3.43 3.43 2.4  2.05 4.43 5.8  4.31 2.16
 1.53 2.13 1.63 4.3  1.35 2.99 2.31 3.55 1.24 2.46 4.72 5.51 3.59 2.96
 2.81 2.56 3.17 4.95 3.88 3.57 5.04 4.61 3.24 3.9  3.12 2.67 1.9  3.3
 1.29 5.19 4.12 3.03 1.68 1.67 3.83 3.26 3.27 3.45 2.76 4.36 3.7  3.37
 2.58 4.6  3.03 2.39 2.51 5.65 3.91 4.28 2.59 4.1 ]
Third Attribute Array
[2.43 2.14 2.67 2.5  2.87 2.45 2.45 2.61 2.17 2.27 2.3  2.32 2.41 2.39
 2.38 2.7  2.72 2.62 2.48 2.56 2.28 2.65 2.36 2.52 2.61 3.22 2.62 2.14
 2.8  2.21 2.7  2.36 2.36 2.7  2.65 2.41 2.84 2.55 2.1  2.51 2.31 2.12
 2.59 2.29 2.1  2.44 2.28 2.12 2.4  2.27 2.04 2.6  2.42 2.68 2.25 2.46
 2.3  2.68 2.5  1.36 2.28 2.02 1.92 2.16 2.53 2.56 1.7  1.92 2.36 1.75
 2.21 2.67 2.24 2.6  2.3  1.92 1.71 2.23 1.95 2.4  2.   2.2  2.51 2.32
 2.58 2.24 2.31 2.62 2.46 2.3  2.32 2.42 2.26 2.22 2.28 2.2  2.74 1.98
 2.1  2.21 1.7  1.9  2.46 1.88 1.98 2.27 2.12 2.28 1.94 2.7  1.82 2.17
 2.92 2.5  2.5  2.2  1.99 2.19 1.98 2.   2.42 3.23 2.73 2.13 2.39 2.17
 2.29 2.78 2.3  2.38 2.32 2.4  2.4  2.36 2.25 2.2  2.54 2.64 2.19 2.61
 2.7  2.35 2.72 2.35 2.2  2.15 2.23 2.48 2.38 2.36 2.62 2.48 2.75 2.28
 2.1  2.32 2.38 2.64 2.7  2.64 2.38 2.54 2.58 2.35 2.3  2.26 2.6  2.3
 2.69 2.86 2.32 2.28 2.48 2.45 2.48 2.26 2.37 2.74]

### Pre-Processing of Data

Discretize the Data

In [4]:
def discretizeData(attr):
  # Find the min and max for the attribute
  minVal = min(attr)
  maxVal = max(attr)
  # Returns an array of 3 samples
  return np.linspace(minVal,maxVal,4)

In [5]:
# Call the discretizeData fuction - Returns the bins from the data
first_discrete = discretizeData(first)
second_discrete = discretizeData(second)
third_discrete = discretizeData(third)

first_ = np.digitize(first, bins = first_discrete)
second_ = np.digitize(second, bins = second_discrete)
third_ = np.digitize(third, bins= third_discrete)
print("First Discrete Data")
print(first_)
print("Second Discrete Data")
print(second_)
print("Third Discrete Data")
print(third_)

First Discrete Data
[3 2 2 3 2 3 3 3 4 3 3 3 3 3 3 3 3 3 3 3 3 2 3 2 2 2 2 2 3 3 3 3 3 3 2 2 2
 2 2 3 2 2 3 2 2 3 3 3 3 3 2 3 3 3 3 2 3 2 3 2 2 2 3 2 1 2 2 2 2 1 1 3 2 2
 1 1 2 1 2 2 1 2 1 2 1 2 1 1 1 1 1 1 2 1 1 2 1 1 2 1 1 2 2 1 2 2 1 2 1 1 1
 2 1 1 1 1 1 2 2 1 1 1 2 2 1 1 2 1 2 1 2 2 2 2 2 2 1 2 2 2 2 2 2 3 1 2 3 2
 2 2 2 2 2 2 2 2 3 2 3 2 2 3 2 2 3 3 2 2 3 2 1 2 3 3 2 2 2 3]
Second Discrete Data
[1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 2 1 2 1 2 1 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 2 1 2 1 1 1 2 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 2 1 1 2 1 1 2 1 1 1 1 2
 2 2 1 1 1 1 1 2 2 1 1 3 4 3 1 1 1 1 3 1 2 1 2 1 2 3 3 2 2 2 2 2 3 2 2 3 3
 2 2 2 2 1 2 1 3 3 2 1 1 2 2 2 2 2 3 2 2 2 3 2 1 2 3 2 3 2 2]
Third Discrete Data
[2 2 3 2 3 2 2 3 2 2 2 2 2 2 2 3 3 3 2 2 2 3 2 2 3 3 3 2 3 2 3 2 2 3 3 2 3
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 2 2 2 3 2 1 2 2 1 2 2 2 1 1 2 1 2 3 2 2
 2 1 1 2 1 2 2 2 2 2 2 2 2 3 2 2 2 2 2 2 2 2 3 1 2 2 1 1 2 1 1 2 2 2 1 3 1
 2 3 2 2 2 2 2 1 2 2 4 3 2 2 2 2 3 2 2 2 2 2 2 2 2 2 3 2 3 3 2 3 2 2 2 2 2
 2 2 3 2 3 2 2 2 2 3 3 3 2 2 2 2 2 2 2 2 3 3 2 2 2 2 2 2 2 3]

In [6]:
# Calc Entropy Function takes parameter the classes and returns the entropy value calculated

def CalculateEntropy(dfc):
  numOfVals = len(dfc[0])
  v,c = np.unique(dfc[0], return_counts=True)
  list_of_probabilities = c/numOfVals
  entropy = 0
  for prob in list_of_probabilities:
    entropy -= prob*math.log(prob,2)

  return entropy

decision = winedata[0]
decision = np.array(decision)
data = [decision,first_,second_,third_]
df = pd.DataFrame(data)
df = df.transpose()

dfc = copy.deepcopy(df)
entropy_main = CalculateEntropy(dfc) 
print("Main Class Entropy: ", entropy_main)

Main Class Entropy:  1.5668222768551812

In [7]:
# Info Gain Function For each attribute
def InformationGain(df, attr):
  v,c = np.unique(df[attr], return_counts=True)
  InfoG = entropy_main
  for i,value in enumerate(v):
    cond_prob = c[i]/len(df[attr])
    dfc = copy.deepcopy(df)
   
    dfc = dfc[dfc[attr] == value]
    entropy_ = CalculateEntropy(dfc)
    print("Value Entropy for ", value, " is: ", entropy_)
    InfoG += -1*cond_prob*entropy_
 
  return InfoG

Ig = InformationGain(df, 1)
print("First Attr Info Gain: ", Ig)
print("")
Ig2 = InformationGain(df,2)
print("Second Attr Info Gain: ", Ig2)
print("")
Ig3 = InformationGain(df,3)
print("Third Attr Info Gain: ", Ig3)

print("Root Node should be Attr#: ", np.argmax([Ig,Ig2,Ig3])+1)

Value Entropy for  1  is:  0.37764632137370036
Value Entropy for  2  is:  1.5565846604828115
Value Entropy for  3  is:  0.9877857431090964
Value Entropy for  4  is:  0.0
First Attr Info Gain:  0.45031066374676354

Value Entropy for  1  is:  1.295447236231386
Value Entropy for  2  is:  1.3718323162100354
Value Entropy for  3  is:  0.74959525725948
Value Entropy for  4  is:  0.0
Second Attr Info Gain:  0.3005576587298864

Value Entropy for  1  is:  0.0
Value Entropy for  2  is:  1.5765018219622458
Value Entropy for  3  is:  1.4988721468780661
Value Entropy for  4  is:  0.0
Third Attr Info Gain:  0.1565856193670288
Root Node should be Attr#:  1